<h1>TodoApp#index</h1>
<p>Find me in app/views/todo_app/index.html.erb</p>
<%= react_component("TagCloud", 
    {tagCloud: ["TestString", "TAG", "Kill"],
    tagSelection: ["TestString"]}) %>
<%= react_component("SearchPanel", {garbage: "TestString"}) %>