<h1>Todo App for CVWO Assignment</h1>
<p>Just a Demo, functional but not secure. Please use this for public stuff :)</p>
<%= react_component("TodoApp", {tags: @tags , items: @items, tabs: @tabs, user: @user}) %>